.alert-enter-active,
.alert-leave-active {
  transition: all .4s ease;
}
.alert-enter-from{
  opacity: 0;
  transform: translateY(30px);
}
.alert-leave-to{
  opacity: 0;
  transform: translateY(-30px);
}
.alert-move{
  transition: all .8s ease;
}
